.center.hero-unit
  %h1
    Welcome to cachat!

  %p
    This is the home page for the
    %a{:href => "http://codeacademy.org/"} Code Academy
    chat app.
  
  = link_to "Sign Up", signup_path, class: "btn btn-large btn-primary"
  
= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'