%footer.footer
  %small
    %a{:href => "http://codeacademy.org/"} Code Academy
  %nav
    %ul
      %li= link_to "About", '#'
      %li= link_to "Contact", '#'
      %li
        %a{:href => "http://blog.codeacademy.org/"} Blog